<div class="mb-[200px]">
    <div>
        <section>
            <div class="grid md:flex gap-4 justify-center my-2">
                <select class="text-blue-700 border-2  border-blue-700  hover:scale-110 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center dark:text-blue-700 dark:hover:scale-110 dark:focus:ring-blue-800" (change)="onSortSelected($event)">
                    <option class=" text-center block text-black hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                        *ngFor="let sort of sortOptions" [selected]="shopParams.sort === sort.value"
                        [value]="sort.value">
                        {{sort.name}}
                    </option>
                </select>
                <button id="dd" data-dropdown-toggle="d1"
                    class="text-blue-700 border-2 border-blue-700  hover:scale-110 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:text-blue-700 dark:hover:scale-110 dark:focus:ring-blue-800 dark:bg-white"
                    type="button">{{'products.brand' |translate}} <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="d1"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dd">
                        <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" *ngFor="let brand of brands"
                        [class.active]="brand.id === shopParams.brandId" [value]="brand.id"
                        (click)="onBrandSelected(brand.id)">
                        {{brand.name}}
                        </li>

                    </ul>
                </div>
                <button id="ddd" data-dropdown-toggle="d2"
                    class="text-blue-700 border-2 border-blue-700  hover:scale-110 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:text-blue-700 dark:hover:scale-110 dark:focus:ring-blue-800 dark:bg-white"
                    type="button">{{'products.type' |translate}} <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="d2"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="ddd">
                        <li class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" *ngFor="let type of types" [class.active]="type.id === shopParams.typeId" [value]="type.id"
                        (click)="onTypeSelected(type.id)">
                        {{type.name}}
                        </li>

                    </ul>
                </div>
            </div>
        </section>
        <section >
            <div class="d-flex justify-content-between align-items-center pb-2">
                <app-paging-header  [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber"
                    [pageSize]="shopParams.pageSize"></app-paging-header>

                <div class="grid md:flex justify-center gap-3 items-center" *ngIf="products">
                    <input (keyup.enter)="onSearch()" type="text" class="rounded-xl px-8 h-[2.5em]" #search
                        placeholder="Search">
                        <div class="flex justify-center">

                            <button (click)="onSearch()" class="bg-blue-700 text-white px-4 py-2 rounded-xl">{{'products.search' |translate}}</button>
                            <button (click)="onReset()" class="bg-red-700 text-white px-4 mx-2 py-2 rounded-xl">{{'products.reset' |translate}}</button>
                        </div>
                </div>
            </div>
            <div class="grid justify-center gap-4">

                <div class="grid md:grid-cols-3 gap-8 grid-cols-1 m-4">
                    <div  *ngFor="let product of products">
                        <app-product-item class="mx-8" [product]="product"></app-product-item>
                    </div>
                </div>
            </div>
            
        </section>
    </div>
</div>
<!-- <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
    <app-pager 
        [pageSize]="shopParams.pageSize" 
        [totalCount]="totalCount"
        [pageNumber]="shopParams.pageNumber"
        (pageChanged)="onPageChanged($event)"
    >
    </app-pager>
</div> -->