<div class="grid justify-center m-4">
    <!-- ((((((((((((start reviews)))))))))))) -->

    <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-2">
        <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-tl-lg md:border-r dark:bg-gray-800 dark:border-gray-700">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{'user1.header' | translate}}</h3>
                <p class="my-4">{{'user1.content' | translate}}</p>
            </blockquote>
            <figcaption class="flex items-center justify-center space-x-3">
                <img class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/karen-nelson.png"
                    alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left">
                    <div>{{'user1.name' | translate}}</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">{{'user1.rate' | translate}}</div>
                </div>
            </figcaption>
        </figure>
        <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-tr-lg dark:bg-gray-800 dark:border-gray-700">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{'user2.header' | translate}}</h3>
                <p class="my-4">{{'user2.content' | translate}}</p>
            </blockquote>
            <figcaption class="flex items-center justify-center space-x-3">
                <img class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
                    alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left">
                    <div>{{'user2.name' | translate}}</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">{{'user2.rate' | translate}}</div>
                </div>
            </figcaption>
        </figure>
        <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 rounded-bl-lg md:border-b-0 md:border-r dark:bg-gray-800 dark:border-gray-700">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{'user3.header' | translate}}</h3>
                <p class="my-4">{{'user3.content' | translate}}</p>
            </blockquote>
            <figcaption class="flex items-center justify-center space-x-3">
                <img class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                    alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left">
                    <div>{{'user3.name' | translate}}</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">{{'user3.rate' | translate}}</div>
                </div>
            </figcaption>
        </figure>
        <figure
            class="flex flex-col items-center justify-center p-8 text-center bg-white border-gray-200 rounded-b-lg md:rounded-br-lg dark:bg-gray-800 dark:border-gray-700">
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{{'user4.header' | translate}}</h3>
                <p class="my-4">{{'user4.content' | translate}}</p>
            </blockquote>
            <figcaption class="flex items-center justify-center space-x-3">
                <img class="rounded-full w-9 h-9"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/joseph-mcfall.png"
                    alt="profile picture">
                <div class="space-y-0.5 font-medium dark:text-white text-left">
                    <div>{{'user4.name' | translate}}</div>
                    <div class="text-sm text-gray-500 dark:text-gray-400">{{'user4.rate' | translate}}</div>
                </div>
            </figcaption>
        </figure>
    </div>

    <!-- ((((((((((((end reviews)))))))))))) -->
    <!-- ((((((((((((start address)))))))))))) -->
    <div class="grid md:grid-cols-2 grid-cols-1 justify-center gap-4">
        <div class="col-span-1">

            <a href="#"
                class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                    src="http://picsum.photos/500/600" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{'contact.home' | translate}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{'contact.location' | translate}} : {{'contact.locationDetail' | translate}}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{'contact.phone' | translate}} : {{'contact.phone1' | translate}}</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{'contact.phone' | translate}} : {{'contact.phone2' | translate}}</p>
                </div>
            </a>

        </div>
        <div class="col-span-1 text-3xl dark:text-white uppercase" >
            {{'contact.location' | translate}}
        </div>
    </div>
    <!-- ((((((((((((end address)))))))))))) -->
    <!-- ((((((((((((start login)))))))))))) -->
<app-login />
    <!-- ((((((((((((end login)))))))))))) -->
</div>