<div class="mt-4" [formGroup]="checkoutForm">
    <div class="row">
        <div formGroupName="paymentForm">
            <app-text-input [label]="'Name on card'" formControlName="nameOnCard"></app-text-input>
        </div>
        <div class="grid justify-center">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">card number</label>
            <div #cardNumber class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 md:w-[700px]"></div>
            <ng-container *ngIf="cardErrors">
                <span class="text-danger">{{cardErrors}}</span>
            </ng-container>
          </div>
        <div class="grid justify-center">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">card expire</label>
          <div #cardExpiry class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 md:w-[700px]"></div>
        </div>
        <div class="grid justify-center">
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">card cvc</label>
          <div #cardCvc class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 md:w-[700px]"></div>
        </div>
    </div>
</div>


<div class="flex justify-center mt-4">
  <button
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    cdkStepperPrevious>
    <ng-icon name="bootstrapArrowLeftCircleFill"></ng-icon> Back to Review
  </button>
  <button [disabled]="loading || checkoutForm.get('paymentForm')?.invalid || !cardNumberValid || !cardExpiryValid || !cardCvcValid"
    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800"
    (click)="submitOrder()">
    Submit order <ng-icon name="bootstrapArrowRightCircleFill"></ng-icon>
    <ng-icon *ngIf="loading" name="cssSpinnerTwo"></ng-icon>
  </button>
</div>
